@use "variables" as var;

footer {
  background-color: #0891b2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;

  h1 {
    color: var.$heading-light-color;
    font-family: var.$headings-font;
    font-size: 1.4rem;
  }

  h2 {
    color: var.$heading-light-color;
    font-size: 0.9rem;
    font-weight: 500;
  }

  p {
    color: var.$heading-light-color;
    font-size: 0.9rem;
  }

  a {
    color: #f1f5f9;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    font-size: 0.9rem;

    &:hover {
      transform: translateX(5px);
    }
  }

  .github-text {
    text-align: center;

    img {
      width: 30px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
