@use "variables" as var;
@use "animations.scss";

header {
  padding: 40px 40px 0 40px;
  overflow: hidden;
  position: relative;

  .background {
    background-color: #0891b2;
    clip-path: polygon(0% 30%, 0% 0%, 227.5% 0%, 0% 100%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vw;
  }

  .info-container {
    .image-container {
      text-align: center;
      margin-bottom: 50px;
      position: relative;
      animation: slideFromLeft 2s ease-out forwards;

      img {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 80%;
      }

      .name-container {
        position: absolute;
        bottom: 0;
        left: 6%;
        color: var.$heading-light-color;
        font-family: var.$headings-font;
        padding: 15px 30px;
        width: 95%;
        text-align: left;
        animation: growFontSize 2.3s ease-out forwards;
      }
    }

    .about-container {
      position: relative;
      animation: slideFromRight 2s ease-out forwards;

      h1 {
        text-align: center;
        font-family: var.$headings-font;
        animation: growFontSize 2.3s ease-out forwards;
      }

      p {
        font-size: 1.8rem;
        user-select: none;
        padding-bottom: 15px;
      }

      p:first-of-type {
        padding-top: 25px;
      }

      .references {
        text-align: center;

        img {
          width: 40px;
        }
      }
    }
  }
}

@media (min-width: var.$breakpoint-tablet) and (max-width: var.$breakpoint-desktop) {
  header {
    .background {
      height: 80vw;
      clip-path: polygon(0% 30%, 0% 0%, 227.5% 0%, 0% 74%);
    }

    .info-container {
      .image-container {
        float: left;
        box-shadow: none;
        padding-right: 20px;
        max-width: 40%;
        margin: 0;
        z-index: 1;

        img {
          width: 100%;
        }

        .name-container {
          top: 0;
          left: -15%;
          padding: 0;
          width: 300%;
          text-align: unset;
        }
      }

      .about-container {
        width: 90%;
        padding: 100px 30px 40px 30px;
        background-color: #f1f5f9;
        margin-left: 70px;
        transform: translateY(15%);

        .about-text {
          transform: translateY(-18%);
        }

        h1 {
          transform: translateY(-130%);
        }

        p {
          font-size: 1.6rem;
          // transform: translateY(-20%);
        }

        .references {
          display: none;
        }
      }
    }
  }
}

@media (min-width: var.$breakpoint-desktop) {
  header {
    padding: 40px 40px 0 40px;

    .background {
      height: 35vw;
    }

    .info-container {
      display: flex;
      align-items: center;

      .image-container {
        max-width: 28%;
        margin: 0;

        img {
          width: 100%;
        }

        .name-container {
          left: 0;
          padding: 10px;
        }
      }

      .about-container {
        background-color: #f1f5f9;
        padding: 20px;
        overflow: hidden;

        p {
          font-size: 1.5rem;
        }

        .references {
          text-align: right;
        }
      }
    }
  }
}

@media (min-width: var.$breakpoint-ultrawide) {
  header {
    display: flex;
    justify-content: center;

    .background {
      height: 30vh;
    }

    .info-container {
      max-width: 2000px;

      .image-container {
        max-width: 20%;
      }
    }
  }
}
