@use "variables" as var;

header {
  padding: 40px 40px 0 40px;
  overflow: hidden;
  position: relative;

  .background {
    background-color: #0891b2;
    clip-path: polygon(0% 30%, 0% 0%, 227.5% 0%, 0% 100%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vw;
  }

  .info-container {
    .image-container {
      text-align: center;
      margin-bottom: 50px;
      position: relative;

      img {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 80%;
      }

      .name-container {
        position: absolute;
        bottom: 0;
        left: 6%;
        color: var.$heading-light-color;
        font-family: var.$headings-font;
        padding: 15px 30px;
        width: 100%;
        font-size: calc(1.5vw + 1.5vh + 6vmin);
        text-align: left;
      }
    }

    .about-container {
      h1 {
        text-align: center;
        font-size: calc(1.5vw + 1.5vh + 6vmin);
        font-family: var.$headings-font;
      }

      p {
        font-size: calc(1.5vw + 1.5vh + 1vmin);
        padding: 25px 0;
      }

      .references {
        text-align: center;

        img {
          width: 40px;
        }
      }
    }
  }
}

@media (min-width: var.$breakpoint-tablet) and (max-width: var.$breakpoint-desktop) {
  header {
    .background {
      height: 80vw;
      clip-path: polygon(0% 30%, 0% 0%, 227.5% 0%, 0% 74%);
    }

    .info-container {
      .image-container {
        float: left;
        box-shadow: none;
        padding-right: 20px;
        max-width: 40%;
        margin: 0;
        z-index: 1;

        img {
          width: 100%;
        }

        .name-container {
          top: -5%;
          left: 0;
          padding: 0;
          width: 300%;
          text-align: unset;

          .name {
            font-size: calc(1.5vw + 1.5vh + 4vmin);
          }
        }
      }

      .about-container {
        width: 90%;
        padding: 40px 30px;
        background-color: #f1f5f9;
        margin-left: 70px;
        transform: translateY(15%);

        h1 {
          font-size: calc(1.5vw + 1.5vh + 3vmin);
          transform: translateY(-15%);
          margin-bottom: 25px;
        }

        p {
          font-size: calc(1.4vw + 1.4vh);
          padding: 60px 0 0 0;
          transform: translateY(-20%);
        }

        .about {
          font-size: calc(1.5vw + 1.5vh);
        }

        .references {
          display: none;
        }
      }
    }
  }
}

@media (min-width: var.$breakpoint-desktop) {
  header {
    padding: 40px 40px 0 40px;

    .info-container {
      display: flex;
      align-items: center;

      .background {
        height: 35vw;
      }

      .image-container {
        max-width: 28%;
        margin: 0;

        img {
          width: 100%;
        }

        .name-container {
          left: 0;
          font-size: calc(1.5vw + 1.5vh + 1vmin);
          padding: 10px;
        }
      }

      .about-container {
        background-color: #f1f5f9;
        padding: 20px;
        overflow: hidden;

        h1 {
          font-size: calc(1.5vw + 1.5vh + 0.5vmin);
        }

        p {
          font-size: calc(1vw + 1vh);
        }

        .references {
          text-align: right;
        }
      }
    }
  }
}
