@use "variables" as var;
@use "animations.scss";

main {
  padding: 0 15px;
  max-width: 2000px;
  margin: auto;

  h1 {
    text-align: center;
    color: var.$heading-dark-color;
    font-family: var.$headings-font;
    padding-bottom: 15px;
    position: relative;
    font-size: 1.6rem;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    // max-width: 300px;
    // width: 85%;
    margin: auto;

    .project {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      opacity: 0;
      transition: opacity 1s ease-in-out 0.5s;
      max-width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;

      .screenshot {
        width: 100%;
        object-fit: fill;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        max-height: 18vh;
        min-height: 10vh;
      }

      .project-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;

        .name {
          color: var.$heading-dark-color;
          font-size: 1rem;
          // font-family: FiraGOReg;
          text-transform: capitalize;
        }

        .links {
          display: flex;
          align-items: center;
          gap: 7px;

          a {
            display: flex;
          }

          img {
            width: 15px;
            transition: transform 0.3s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@media (min-width: var.$breakpoint-tablet) and (max-width: var.$breakpoint-desktop) {
  main {
    .projects-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;

      .project {
        max-width: 300px;

        .screenshot {
          max-height: fit-content;
        }

        .project-info {
          .name {
            font-size: 1.15rem;
          }

          .links {
            img {
              width: 18px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: var.$breakpoint-desktop) {
  main {
    h1 {
      font-size: 2rem;
    }
    padding: 0 50px;
    .projects-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;

      .project {
        max-width: 350px;

        .screenshot {
          max-height: fit-content;
        }

        .project-info {
          .name {
            font-size: 1.1rem;
          }
          .links {
            img {
              width: 20px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: var.$breakpoint-ultrawide) {
  main {
    h1 {
      font-size: 2.5rem;
    }
    .projects-container {
      gap: 50px;

      .project {
        .project-info {
          .name {
            font-size: 1.5rem;
          }

          .links {
            img {
              width: 22px;
            }
          }
        }
      }
    }
  }
}
