@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: FiraGOBold;
  src: url("/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf");
}

@font-face {
  font-family: FiraGOReg;
  src: url("/src/assets/fonts/FiraGO/FiraGO-Regular.otf");
}

$heading-light-color: #f1f5f9;
$heading-dark-color: #374151;
$body-text-dark-color: #475569;
$headings-font: "Playfair Display", serif;
$text-font: "Roboto", sans-serif;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1200px;
$breakpoint-ultrawide: 2000px;
