// @use "variables" as var;
@use "./styles/variables.scss" as var;
@use "./styles/header.scss";
@use "./styles/main.scss";
@use "./styles/footer.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var.$text-font;
  color: var.$body-text-dark-color;
  padding: 0 40px;
}
