// @use "variables" as var;
@use "./styles/variables.scss" as var;
@use "./styles/header.scss";
@use "./styles/main.scss";
@use "./styles/footer.scss";
@use "./styles/animations.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var.$text-font;
  color: var.$body-text-dark-color;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landmark {
  opacity: 0;
}

.visible {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}

@media (min-width: var.$breakpoint-tablet) and (max-width: var.$breakpoint-desktop) {
  body {
    gap: 40px;
  }
}

@media (min-width: var.$breakpoint-desktop) {
  body {
    gap: 70px;
  }
}
